  
  <div id="comment_<%= comment.id %>">
      <div>
        <b><%= comment.user.user_name %></b> :: 
        <%= comment.user_comment %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_user_album_photo_comment_path(current_user ,@album, comment.photo.id, comment) %> 
        <%= link_to 'Delete', user_album_photo_comment_path(current_user ,@album, comment.photo.id, comment ), method: :delete,:remote => true, data: { confirm: 'Are you sure?' } %></br>
      </div>
  </div>
