<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.avatar.url %></td>
        <td><%= link_to 'Show', user_album_photo_path(current_user, photo.album_id, photo) %></td>
        <td><%= link_to 'Edit', edit_user_album_photo_path(current_user, photo.album_id, photo) %> </td>
        <td><%= link_to 'Destroy', user_album_photo_path(current_user , photo.album_id, photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_user_album_photo_path(current_user, @album.id) %>



